<?xml version="1.0"?>
<!--
Copyright (c) 2024, NVIDIA CORPORATION. All rights reserved.

NVIDIA CORPORATION and its licensors retain all intellectual property
and proprietary rights in and to this software, related documentation
and any modifications thereto. Any use, reproduction, disclosure or
distribution of this software and related documentation without an express
license agreement from NVIDIA CORPORATION is strictly prohibited.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
  Definition of the pandar_xt32_lidar macro

  Parameters:
    - origin: Origin of the transformation connecting the root of this macro with parent link.
    - name: The 3D Lidar name. e.g., if it is "front", the link is "front_3d_lidar".
            Default value: "pandar_xt32", which leads to "pandar_xt32_3d_lidar" link name.
    - parent: Parent link where the root of this macro will be connected with a joint.
              Default value: base_link
  -->
  <xacro:macro name="pandar_xt32_lidar" params="*origin name=pandar_xt32 parent=base_link
    mount_is_root:=false">

    <!-- Constants -->
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="mount_offset_x" value="0.033"/>
    <xacro:property name="mount_offset_y" value="-0.033"/>
    <xacro:property name="mount_offset_z" value="-0.0477"/>

    <!-- Main 3D Lidar link: Origin is the rotating center of the range scanner core -->
    <link name="${name}_3d_lidar">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://pandar_xt32_description/meshes/pandar_xt32.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://pandar_xt32_description/meshes/pandar_xt32.obj"/>
        </geometry>
      </collision>
    </link>

    <!-- 3D Lidar mounting point: Bottom-Center of the Forward-Right threaded small screw hole in bottom -->
    <link name="${name}_3d_lidar_mount"/>

    <!-- Joints connecting 3D Lidar main link to mount, and to the parent provided as argument  -->
    <xacro:if value="${mount_is_root}">
      <xacro:property name="root_link" value="${name}_3d_lidar_mount"/>
      <joint name="${name}_3d_lidar_mount_joint" type="fixed">
        <origin xyz="${mount_offset_x} ${-mount_offset_y} ${-mount_offset_z}" rpy="0.0 0.0 ${-M_PI/2}"/>
        <parent link="${name}_3d_lidar_mount"/>
        <child link="${name}_3d_lidar"/>
      </joint>
    </xacro:if>

    <xacro:unless value="${mount_is_root}">
      <xacro:property name="root_link" value="${name}_3d_lidar"/>
      <joint name="${name}_3d_lidar_mount_joint" type="fixed">
        <origin xyz="${mount_offset_x} ${mount_offset_y} ${mount_offset_z}" rpy="0.0 0.0 ${M_PI/2}"/>
        <parent link="${name}_3d_lidar"/>
        <child link="${name}_3d_lidar_mount"/>
      </joint>
    </xacro:unless>

    <joint name="${name}_3d_lidar_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${root_link}"/>
    </joint>

  </xacro:macro>
</robot>
