<?xml version="1.0"?>
<!--
Copyright (c) 2024, NVIDIA CORPORATION. All rights reserved.

NVIDIA CORPORATION and its licensors retain all intellectual property
and proprietary rights in and to this software, related documentation
and any modifications thereto. Any use, reproduction, disclosure or
distribution of this software and related documentation without an express
license agreement from NVIDIA CORPORATION is strictly prohibited.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
  Definition of the owl_camera macro

  Parameters:
    - origin: Origin of the transformation connecting the root of this macro with parent link.
    - name: The camera name. e.g., if it is "front_fisheye", the link is "front_fisheye_camera".
            Default value: "owl_fisheye", which leads to "owl_fisheye_camera" link name.
    - parent: Parent link where the root of this macro will be connected with a joint.
              Default value: base_link
    - add_subsensor_frames: Whether to add frames of subs-ensors to the tree (recommended only if
              driver is not publishing them).
  -->
  <xacro:macro name="owl_camera" params="*origin name=owl_fisheye parent=base_link
    mount_is_root:=false add_subsensor_frames:=false">

    <!-- Constants -->
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="mount_offset_x" value="-0.0115"/>
    <xacro:property name="mount_offset_y" value="0.008"/>
    <xacro:property name="mount_offset_z" value="0.01025"/>

    <!-- Main camera link: Origin is at the principal point of the camera -->
    <link name="${name}_camera">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://owl_description/meshes/owl.obj"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://owl_description/meshes/owl.obj"/>
        </geometry>
      </collision>
    </link>

    <!-- Camera mounting point: Outer-Center of the Top-Left threaded screw hole in back -->
    <link name="${name}_camera_mount"/>

    <!-- Joints connecting camera main link to mount, and to the parent provided as argument  -->
    <xacro:if value="${mount_is_root}">
      <xacro:property name="root_link" value="${name}_camera_mount"/>
      <joint name="${name}_camera_mount_joint" type="fixed">
        <origin xyz="${-mount_offset_x} ${-mount_offset_y} ${-mount_offset_z}" rpy="0.0 0.0 0.0"/>
        <parent link="${name}_camera_mount"/>
        <child link="${name}_camera"/>
      </joint>
    </xacro:if>

    <xacro:unless value="${mount_is_root}">
      <xacro:property name="root_link" value="${name}_camera"/>
      <joint name="${name}_camera_mount_joint" type="fixed">
        <origin xyz="${mount_offset_x} ${mount_offset_y} ${mount_offset_z}" rpy="0.0 0.0 0.0"/>
        <parent link="${name}_camera"/>
        <child link="${name}_camera_mount"/>
      </joint>
    </xacro:unless>

    <joint name="${name}_camera_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${root_link}"/>
    </joint>

    <!-- Whether to add optical frame to the tree (if driver is not publishing it) -->
    <xacro:if value="${add_subsensor_frames}">
      <!-- Optical frame -->
      <link name="${name}_camera_optical"/>
      <joint name="${name}_camera_optical_joint" type="fixed">
          <origin xyz="0.0 0.0 0.0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}"/>
          <parent link="${name}_camera"/>
          <child link="${name}_camera_optical"/>
      </joint>
    </xacro:if>

  </xacro:macro>
</robot>
